html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../img/yesbuildings.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}